<html>
  <head>
    <title>Sample  Application</title>
  </head>
  <body>
    <form action="/get-phone-number-and-delay" method="post">
      Phone Number: <input type="text" name="number"></input>
      </br>
      Delay: <input type="text" name="delay"></input>
      </br>
      <input type="submit" value="Enter"></input>
  </form>

  {% if lastCallInvalid == False %}
    <font color = "red"> Invalid phone number -- please enter a valid US phone number </font>
  {% endif %}

    <table id="l" border = "1">
      <tr>
        <td><b> Date of call </b></td>
        <td><b> Time of call </b></td>
        <td><b> Number Called </b></td>
        <td><b> Value Entered </b></td>
        <td><b> Delay </b></td>
        <td><b> Replay? </b></td>
        <td><b> Replay </b></td>
      </tr>
    {% for item in l %}
      <tr>
        <td> {{ l[item].date }} </td>
        <td> {{ l[item].time }} </td>
        <td> {{ l[item].num }} </td>
        <td> {{ l[item].fizzBuzz }} </td>
        <td> {{ l[item].delay }} </td>
        <td> 
        {% if l[item].replay == None %}
          No
        {% else %}
          Yes
        {% endif %}
        </td>
        <td> 
          {% if l[item].validNumberFlag == True %}
          <form action = "/get-phonecall" method="post">
            <input type="hidden" name="callId" value = "{{ item }}"></input>
            <input type="submit" value = "Replay Call"></input>
          </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>

  </body>
</html>