<html>
  <head>
    <title>Sample  Application</title>
  </head>
  <body>
    <form action="/get-phone-number-and-delay" method="post">
      Phone Number: <input type="text" name="number"></input>
      </br>
      Delay: <input type="text" name="delay"></input>
      </br>
      <input type="submit" value="Enter"></input>
  </form>

  {% if invalidPhone == True %}
    <font color = "red"> Invalid phone number -- please enter a valid US phone number </font>
  {% endif %}

    <ul id="l">
    {% for item in l %}
        <li>
        Call {{ item }} : {{ l[item].now }} {{ l[item].num }} {{ l[item].fizzBuzz }}
        </li>
    {% endfor %}
    </ul>

  </body>
</html>